* {
    padding: 0px;
    margin: 0px auto;
    
    
    scroll-behavior: smooth;
    align-items: center;

}
.donate_now_btn{
    padding: 15px 30px;
    background-color:#FF5959;
    font-size: 18px;
    color: white;
    margin-top: 50px;
    border-radius: 5px;
}

.textbox_2{
height: 100vh;
position: relative;
text-align: center;
margin-top: 150px;
  
 }

 .textbox_2 h1{
   font-weight: 45px;
   font-size: 40px;

 }

 .textbox_2 p{
    
    color: #707070;
    margin-top: 20px;
    margin-bottom: 10px;
 }


.rec_text{
    
    height: 130px ;
    width: 130px;
    position: relative;
    border-radius: 5px;
    background-color: #FAFAFA;
   
    color:  #707070;
    font-weight: bold;
    font-size: 20px;  
    
  
}

.rec_text p{
    margin: 0;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


 
 

 .rectangle_container{

   display: flex;
   justify-content: space-between;
   margin-left: 250px;
   margin-right: 250px;
   margin-top: 50px;
   margin-bottom: 100px;
   
 }

 .text{
    width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #DADADA;
  text-align: center;
  font-size: 18px;
 }
 
.rectangle_container :hover{
    border: 2px solid red;
    color: red;
    box-shadow: 10px 10px 8px 10px #888888;;
}

.first_para{
    font-size: 19px;
}