* {
    padding: 0px;
    margin: 0px auto;
    
    
    scroll-behavior: smooth;
    align-items: center;

}



 .image_last{
    width:500px; 
    height:400px;
    border-radius: 7px;
    text-align: left;
   
    

 }
 .left50percent{
   width: 50%;
   margin-left: 50px;
 }

 .right50percent{
   width: 50%;
   margin-right: 50px;
 }
 
 .section3{
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: space-around;

 }

 .text_btn2{
    padding: 15px 60px;
    background-color:#FF5959;
    font-size: 18px;
    color: white;
    margin-top: 50px;
    border-radius: 6px;
 }

 .left{
    text-align: left;
    width: 70%;
    margin-top: 25vh;
    position: relative;

    
    


    
 }

 

 .reverse{
    flex-direction: row-reverse;
 }
    
.first_para{
    font-size: 19px;
}

.lives_heading{
   font-size: 40px;

   
}